//  Primary Colors
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%); //(graphic design text)
$dark-blue: hsl(198, 62%, 26%); // (photography text)
$dark-moderate-cyan: hsl(168, 34%, 41%); // (footer)

//  Neutral Colors
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

:root {
    /*  Primary Colors  */
    --soft-red: #{$soft-red};
    --yellow: #{$yellow};
    --dark-desaturated-cyan: #{$dark-desaturated-cyan};
    --dark-blue: #{$dark-blue};
    --dark-moderate-cyan: #{$dark-moderate-cyan};

    /*  Neutral Colors  */
    --very-dark-desaturated-blue: #{$very-dark-desaturated-blue};
    --very-dark-grayish-blue: #{$very-dark-grayish-blue};
    --dark-grayish-blue: #{$dark-grayish-blue};
    --grayish-blue: #{$grayish-blue};
    --white: #{$white};
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    /*
    font-family: 'Barlow', sans-serif;

    font-family: 'Fraunces', serif;
    */
    font-size: 18px;
}

.header {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.nav-link {
    color: inherit;
    text-decoration: none;
}

.nav-item {
    list-style: none;
    margin: 0 10px;
}

.navbar__menu {
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 40%;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;

    .nav-item:last-child {
        .nav-link {
            background: var(--white);
            padding: 10px 20px;
            border-radius: 50px;
            font-family: 'Fraunces', serif;
            color: var(--very-dark-desaturated-blue);
            transition: .3s;
        }
    }
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.header-title {
    font-family: 'Fraunces', serif;
    color: var(--white);
    margin: 50px 0;
}

.header-img-arrow {
    display: block;
    margin: auto;
    cursor: pointer;
    animation: arrowAnimation 3s infinite;
}

@keyframes arrowAnimation {
    0%, 100% {
        padding-top: 0;
    }

    50% {
        padding-top: 40px;
    }
}

.hamburger-icon {
    display: none;
    cursor: pointer;
}

@media screen and (min-width: 513px) {
    .nav-item:last-child:hover {
        .nav-link {
            color: #fff;
            background: rgba(255, 255, 255, 0.308);
        }
    }
}

@media screen and (max-width: 512px) {

    .navbar__menu--active {
        top: 84px!important;
        opacity: 1!important;
    }

    .navbar__menu {
        position: absolute;
        flex-direction: column;
        top: -500%;
        opacity: 0;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        background: var(--white);
        color: var(--dark-grayish-blue);
        padding: 20px 0;
        transition: all .5s;

        &::before {
            position: absolute;
            top: -20px;
            right: 0;
            content: '';
            width: 0;
            height: 0;
            border: 10px solid;
            border-top-color: transparent;
            border-right-color: var(--white);
            border-left-color: transparent;
            border-bottom-color: var(--white);
        }

        .nav-item {
            margin: 10px 0;
            &:last-child {
                .nav-link {
                    background: var(--yellow);
                }
            }
        }
    }

    .hamburger-icon {
        display: block;
    }
}

@media screen and (min-width: 400px) {
    .header {
        background-image: url('../images/desktop/image-header.jpg');
    }
}

@media screen and (max-width: 399px) {
    .header {
        background-image: url('../images/mobile/image-header.jpg');
    }
}